<nav class="c-navigation {% if site.fixedNav == 'true' %}is-fixed{% endif %}">
  <div class="c-navigation__container u-container">
    <a class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">Accueil</a>
    <a class="c-navigation__item {% if page.url == '/links/' %}is-active{% endif %}" href="{{ "/links/" | prepend: site.baseurl }}">Dans la presse</a>
    <a class="c-navigation__item {% if page.url == '/about/' %}is-active{% endif %}" href="{{ "/about/" | prepend: site.baseurl }}">A Propos</a>
  </div>
</nav>
